{% extends 'base.html' %}
{% block title %} Школи {% endblock %}

{% block content %}

    <div class="container mt-5">
        <div class="row d-flex">
            <div class="col-6">
                <h1>Список шкіл</h1>
            </div>
            <div class="col-6" style="text-align: right">
                <a href="{% url 'school-add' %}" class="btn btn-warning">Додати школу</a>
            </div>
        </div>
        {%  for school in page_obj %}
        <div class="alert alert-info mt-2">
            <h3>{{ school.sc_name }}</h3>
            <p><b>Адреса школи:</b> <span>{{ school.sc_address }}</span></p>
            <p><b>Директор:</b> <span>{{ school.sc_manager }}</span></p>
            <p><b>Номер телефону:</b> <span>{{ school.sc_phone }}</span></p>
            <p><b>Сайт:</b> <span>{{ school.sc_site }}</span></p>
            <a href="{% url 'school-details' school.pk %}" class="btn btn-warning">Детальніше</a>
        </div>
        {% endfor %}
    </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
          {% if page_obj.number == i %}
            <li class="page-item active" aria-current="page">
              <span class="page-link">
                {{ i }}
                <span class="sr-only">(current)</span>
              </span>
            </li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
          </li>
        {% endif %}
      </ul>
    </nav>

{% endblock %}